[submodule "modules/MMM-Carousel"]
	path = modules/MMM-Carousel
	url = https://github.com/shbatm/MMM-Carousel.git
[submodule "modules/MMM-PublicTransportHafas"]
	path = modules/MMM-PublicTransportHafas
	url = https://github.com/KristjanESPERANTO/MMM-PublicTransportHafas.git
[submodule "modules/MMM-Bring"]
	path = modules/MMM-Bring
	url = https://github.com/werthdavid/MMM-Bring.git
[submodule "modules/mmm-systemtemperature"]
	path = modules/mmm-systemtemperature
	url = https://github.com/MichMich/mmm-systemtemperature.git
[submodule "modules/MMM-WiFiPassword"]
	path = modules/MMM-WiFiPassword
	url = https://github.com/TeraTech/MMM-WiFiPassword.git
[submodule "modules/MMM-OnThisDayWikiApi"]
	path = modules/MMM-OnThisDayWikiApi
	url = https://github.com/slugmuffin/MMM-OnThisDayWikiApi.git
[submodule "modules/MMM-Hue-Controller-2"]
	path = modules/MMM-Hue-Controller-2
	url = https://github.com/jboucly/MMM-Hue-Controller-2
[submodule "modules/MMM-Pir"]
	path = modules/MMM-Pir
	url = https://github.com/Coernel82/MMM-Pir.git
[submodule "modules/MMM-Cinestar-FDW"]
	path = modules/MMM-Cinestar-FDW
	url = https://github.com/LukasWestholt/MMM-Cinestar-FDW.git
[submodule "modules/MMM-Screencast"]
	path = modules/MMM-Screencast
	url = https://github.com/kevinatown/MMM-Screencast.git
[submodule "modules/MMM-Canteen"]
	path = modules/MMM-Canteen
	url = https://github.com/KristjanESPERANTO/MMM-Canteen.git
